[submodule "libs/spic-api/include"]
	path = libs/spic-api/include
	url = https://github.com/42IN7SPICc/spic-prj-api-cd.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "libs/spic-engine"]
	path = libs/spic-engine
	url = https://github.com/42IN7SPICc/engine.git
